<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图书管理系统</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div id="app">
        <h2>{{data}}</h2>
        <div class="content">
            <img src="/images/2.jpg" alt="">
            <div class="container">
                <h4>图书管理系统</h4>
                <div class="linka">
                    <a class="first" href="/admin">图书管理</a>

                    <a class="second" href="javascript:;">用户管理</a>
                    <a class="second" href="javascript:;">权限管理</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>